<script>
$(function () {
	$('.tip').hover (
		function () {
			this.tip = this.title;
			$(this).append (
				'<div class="tooltip"><div class="tooltip-top"></div>' +
				'<div class="tooltip-body">' + this.tip + '</div></div>'
			);
			this.title = '';
			$('.tooltip').fadeIn (100);
		},
		function () {
			$('.tooltip').fadeOut (100);
			$('.tooltip').remove ();
			this.title = this.tip;
		}
	);
});
</script>
<style>
.app {
	clear: both;
}
.app h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.app h3 span.admin {
	font-size: 0.8em;
	font-weight: normal;
}
.types {
	float: right;
}
.tip {
	position: relative;
}
.tooltip {
	position: absolute;
	z-index: 25;
	display: none;
	top: 23px;
	width: 200px;
	left: -80px;
}
	.tooltip-top {
		height: 8px;
		background: url(/apps/admin/css/admin/tooltip-top.png);
		background-position: 50% 0%;
	}
	.tooltip-body {
		padding: 2px 5px 0px 5px;
		font-size: 12px;
		color: #222;
		font-weight: normal;
		background-color: #fff;
		border-left: 1px solid #222;
		border-right: 1px solid #222;
		border-bottom: 1px solid #222;
		text-align: left;
		text-decoration: none !important;
	}
	a.tip:hover {
		text-decoration: none !important;
	}
</style>

<p class="types">
{% if type == 'app' %}
	<strong class="tip" title="{" Apps include plugins and libraries that extend the capabilities of the CMS and framework. "}">{" Apps "}</strong>
	&nbsp;|&nbsp;
	<a class="tip" href="/{{ page.id }}?type=util" title="{" Utilities include text editor bundles and other tools that complement the CMS and framework. "}">{" Utilities "}</a>
{% else %}
	<a class="tip" href="/{{ page.id }}" title="{" Apps include plugins and libraries that extend the capabilities of the CMS and framework. "}">{" Apps "}</a>
	&nbsp;|&nbsp;
	<strong class="tip" title="{" Utilities include text editor bundles and other tools that complement the CMS and framework. "}">{" Utilities "}</strong>
{% end %}
</p>

{% if num > 1 %}
<p class="previous"><a href="/{{ page.id }}&type={{ type }}&num={{ num }}">&laquo; {" Newer apps "}</a></p>
{% elseif num == 1 %}
<p class="previous"><a href="/{{ page.id }}&type={{ type }}">&laquo; {" Newer apps "}</a></p>
{% end %}

{% if User::require_admin () %}
<p><a href="/appbrowser/add?return=/{{ page.id }}">{" Add App "}</a></p>
{% end %}

{% foreach apps %}
	<hr />
	<div class="app">
		<h3><a href="{{ loop_value->link }}">{{ loop_value->name }}</a>
		{% if User::require_admin () %}<span class="admin"><a href="/appbrowser/edit?id={{ loop_value->id }}&return=/{{ page.id }}">{" Edit "}</a> | <a href="/appbrowser/delete?id={{ loop_value->id }}&return=/{{ page.id }}" onclick="return confirm ('{" Are you sure you want to delete this app? "}')">{" Delete "}</a></span>{% end %}
		</h3>
		<p>{{ loop_value->description|strip_tags (%s, '<a><strong><em><b><i>') }}</p>
	</div>
{% end %}

<br clear="both" />

{% if more %}
<p class="next"><a href="/{{ page.id }}?type={{ type }}&num={{ next }}">{" Older apps "} &raquo;</a></p>
{% end %}
